[color]
    ui = true
[user]
    name = Mark Malone
    email = mark.malone@orbitz.com
[core]
    editor = "/usr/bin/vi"
[rerere]
    enabled = true
[alias]
     hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    oldhist = log --oneline --graph --decorate
    changelog = log --all --graph --abbrev-commit --date=short --pretty=graph --decorate=full
    rst = "!git reset --hard origin/\"$(git rev-parse --abbrev-ref HEAD)\""
[pretty]
    graph = format:"%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cd) %C(bold blue)<%aN>%Creset"
[diff]
    tool = kdiff3
[push]
    default = current
